body {
  font-family: "Montserrat";
  font-weight: 500;
}

#title {
  background-color: #ff4c68;
}

.container-fluid {
  padding: 3% 15% 7%;
}

.title {
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-weight: bold;
  font-size: 2.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 300;
}

/* Download buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Title img */
.title-img {
  width: 20%;
  transform: rotate(30deg);
  position: absolute;
  right: 25%;
}

/* features */
#features {
  text-align: center;
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
}

.features-icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.features-icon:hover {
  color: #ff4c68;
}

#features h3 {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 1.5rem;
}

#features p {
  color: #818181;
}

/* Testimonials */
#testimonials {
  text-align: center;
  background-color: #ef8172;
}

.carousel-item {
  padding: 7% 15%;
}

#testimonials h2 {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* Press */
#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 5%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 15px;
}

/* Pricing */
#pricing {
  padding: 100px;
  text-align: center;
}

/* Call to Action */

#cta {
  background-color: #ff4c68;
  text-align: center;
  padding: 7% 15%;
}

#cta h3 {
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

/* Footer */
#footer {
  padding: 7% 15%;
  background-color: #fff;
  text-align: center;
}

#footer p {
  color: #777;
}

.social-icon {
  margin: 20px 10px;
}

/* Media queries */
@media (max-width: 1038px) {
  .title-img {
    position: static;
    transform: rotate(0);
    width: 50%;
  }

  #title {
    text-align: center;
  }
}
